@import "tailwindcss";

:root {
  --background: #222831;
  --foreground: #171717;

  --dark-blue: #222831;
  --gray: #393E46;
  --cian: #00ADB5;
  --light-white: #EEEEEE;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark-blue: var(--dark-blue);
  --color-gray: var(--gray);
  --color-cian: var(--cian);
  --color-light-white: var(--light-white);

  --font-poppins: "Poppins", sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #EEEEEE;
    --foreground: #222831;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}